table {
margin: 50px auto;
width: 800px;
}

th {
font-weight: bold;
}

td {
text-align: center;
}

rect.bar {
fill: #333;
}

tr.selected {
background: #DB8B57;
}

rect.selected {
fill: #DB8B57;
}

tr.selected:hover,
rect.selected:hover,
text.selected:hover{
cursor: pointer
}

text.selected {
fill: #555;
}
