body {
font-family: Helvetica, sans-serif;
}

div.graphs {
width: 1400px;
margin: 0 auto;
}

table {
margin: 50px auto;
width: 800px;
}

th {
font-weight: bold;
}

td {
text-align: center;
padding: 2px 0;
}

rect.bar {
fill: #333;
stroke: white;
}

tr.selected {
background: #DB8B57;
color: white;
}

rect.selected {
fill: #DB8B57;
}

tr.selected:hover,
rect.selected:hover,
text.selected:hover{
cursor: pointer;
}

text.selected {
fill: white;
font-weight: bold;
font-size: 25px;
}
