/*
.mortgage {
overflow: hidden;
display: block;
margin: 30px auto;
width: 1400px;
}

div.mortgage > div {
float: left;
width: 300px;
}
*/


table {
margin: 50px auto;
width: 800px;
}

th {
font-weight: bold;
}

td {
text-align: center;
}
